/* coolers palette: https://coolors.co/palette/353535-3c6e71-ffffff-d9d9d9-284b63 */

body {
    background-color: #353535 ;
    font-family: 'Tinos', serif;

    display: flex;
    flex-direction: column;

    margin: 0px;

    color: rgb(245, 245, 245);

}

p {
    margin-bottom: 0;
}

ol {
    padding-left: 0px;
    margin-top: 0px;
    list-style-position: inside;
}

li {
    padding-bottom: 15px;
}

.hero-message, h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5%;
    color: white;

    font-size: 2.5em;
    font-weight: 300;
    /* font-style: italic ; */
}

h3 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
    margin-top: 0px;
}

a {
    margin-bottom: 20px;
}

a:link, a:visited {
    color: #D9D9D9;
}

a:hover {
    color: white;

}

button {
    margin: 50px;
    padding: 15px 35px;
    border: hidden;
    border-radius: 5px;

    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #284b62;

}

button:hover {
    background-color: hsl(204, 100%, 27%);
}

.tagline {
    font-weight: 500;
    font-size: 1.5em;
}

.responsive {
    width: 100%;
    height: auto;
}

.header {
    padding-left: 5%;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
}

.nav {
    padding-right: 5%;
} 

.nav > ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-self: flex-end;
}

.section-1 {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 2em;

    max-width: 30em;
    height: calc(60vh);
}

.section-2, .how-we-work, .about {
    padding-bottom: 80px;
}

.section-2 {
    background-color: #3C6E71;
}

.how-we-work {
    background-color: #284B62;
}

.two-column {
    display: flex;
    flex-direction: column;
}
.columns {
    display: flex;
    margin-left: 5%;
}

.left {
    flex: 45%;
}

.right {
    flex: 55%;
}

.right {
    font-size: 1.8em;
    margin-bottom: 5%;
    margin-right: 5%;
}

.how-we-work p {
    margin-top: 0;
}





